@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

.section-title{
    text-align: center;
    height: 60px;
}
.contents-title{
    text-align: center;
    height: 30px;
}
.wrapper{
    position: relative;
    height: 200px;
    text-align: center;
    margin-bottom: 250px;
}
.text_font{
    font-family: 'Noto Sans JP', sans-serif;
}


/*     header     */
#header{
    display: flex;
    
}

.bodybg1{
    position: relative;
    margin: 0;
    height: 400px;
    width: 110%;
    background:linear-gradient(0deg,rgb(0, 87, 218),rgb(0, 51, 129),rgb(0, 3, 7));
    z-index: 1;
    overflow:hidden;
}

.header_in{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 20px;
    margin: 0 auto;
    width: 90%;
    z-index: 1;
}
.header_menu{   
    font-style: oblique;
}

.header_menu li{
    width: 10%;
    
}
.header_menu a{
    font-size: 20px;
    color:rgb(250, 58, 58)
}
.header_menu a:hover{
    color: rgb(250, 167, 24);
}


img.cat1{
    position: absolute;
    transform:translate(0,320px);
    height: 100px;
    width: 80px;
    z-index: 1;
}
img.cat2{
    transform:translate(180px,320px);
    height: 100px;
    width: 80px;
    z-index: 1;
}
#particles-js{ 
	z-index:-1;/*描画を一番下に*/
    height: 300px;
    width: auto;
}

/*      body     */

body{    
    background-color: black;
    color:aliceblue;
    height: auto;
    margin: 0;
    z-index: 0;
}
main {
    margin: 0 30px;
}
h1{
    color: white;    
    font-size:xx-large;
}

/* スクロールバー */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 20px;
    background-color: darkgray;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    box-shadow: inset 3px -3px 5px rgba(0,0,0,0.2);
    background:linear-gradient(50deg,rgb(0, 87, 218),rgb(0, 51, 129));
}


/*　　　プロフィール　　　　*/
#profile {
    width: auto;
    height: 500px;
    padding: 5px;
}
#profile li{
    list-style: none;
}
.profile_Img{
    height: 120px;
    width: 120px;
    background-color: yellow;
}

/* skills */

#skills{
    padding: 5px;
    height: auto;
}
.skills_Img{
    height: 100px;
    width: 200px;
}
.skill_List{
    width: 50%;
    padding-left: 0px;   
    margin: 16px;
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.skill_List li{
    /* width: 50%; */
    /* display: flex; */
    list-style: none;    
    /* flex-wrap: wrap; */
    padding: 8px 10px;
    
}

/*     worksLink    */

#worksLink{
    height: 600px;
    width: auto;
    margin-bottom: 0;
}
h2{
    color: white;
}
.contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul{
    display: flex;
    padding-left: 0px;
}
li {    
    width: 30%;
    list-style: none;    
    padding: 8px;
}
.content_wrap{
    position: relative;
    overflow: hidden;
    padding-top: 60%;
    margin: 10px 5px;
}
.flex-item{
    flex-basis: 100%;
}

.content_wrap img{
    position: absolute;
    transform: scale(1,1);    
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%,-50%);
    transition-duration: 0.3s;
    filter:blur(1px);
    object-fit: cover;
}

.content_wrap img:hover{
    transform: scale(1.1,1.1);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 90%;
    transform: translate(-50%,-50%);
    transition-duration: 0.3s;
    filter:blur(0px);
    object-fit: cover;
}

/*    footer      */
footer{
    margin-top: 50px;
}
.bodybg2{
    height: 100px;
    background:white;
    z-index: 1;
}
img.exampl2{
    transform:translate(0,20px);/* 位置　*/
    height: 100px;
    width: 80px;
    cursor: pointer;
    z-index: 2;
}

