@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.wrapper{    
    max-height: 800px;    
    height: auto;
}
body{
    margin: 1px;
    background-color: black;
    height: auto;
}

.text_font{
    font-family: 'Noto Sans JP', sans-serif;
}
p{
    margin:10px ;
}


.contents_background{
    position: fixed;
    overflow:hidden;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
    animation: bggradient 20s ease infinite;
    background: linear-gradient(45deg, #3bade3,#9844b7,#44ea76);
    background-size: 200% 200%;
    transition-duration: 0.3s;
    z-index: -2;
}

@keyframes fadeOut{
    from {
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
        z-index: -1;
    }
}
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
        z-index: 1;
    }
}

h1{
    top: 50%;
    left: 50%;
    transform: translate(0,100%);

    color: white;
    margin: 5px;
    font-size: 80px;
    text-align: center;
}


/*  header  */
#header{
    height: 8%;    
    width: auto;   
    transform: translate(0,25%);
    text-align: center;
    color:rgb(147, 236, 5);
    font-size: 30px;
}

#contents{
    position:absolute;
    width: 95%;
    height: 100%;
    transform: translate(3%,0);


    background-size: 100% 100%;
    /* display:none;     */
    z-index: 0;
}
#contents::-webkit-scrollbar{
    width: 10px;
}
#contents::-webkit-scrollbar-track{
    border-radius: 20px;
    background-color: darkgray;
}
#contents::-webkit-scrollbar-thumb{

    border-radius: 20px;
    box-shadow: inset 3px -3px 5px rgba(0,0,0,0.2);
    background:linear-gradient(50deg,rgb(1, 196, 231),rgb(0, 51, 129),rgb(134, 0, 236));
    background-size: 200% 200%;
    animation: bggradient 20s ease infinite;
}
@keyframes bggradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*     gallery    */
#gallery{    
    padding: 2px;
    width: auto;
    display: none;
}
#contentsMenu{
    padding: 0;
    margin: 0;
    width: 250px; 
    height: 700px;
    overflow-y:scroll;
    overflow-x:hidden;
    display:inline-block;
    justify-content: space-between;
    
}
#contentsMenu::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

#contentsMenu::-webkit-scrollbar-track{
    border-radius: 20px;
    background-color: darkgray;
}

#contentsMenu::-webkit-scrollbar-thumb{

    border-radius: 20px;
    box-shadow: inset 3px -3px 5px rgba(0,0,0,0.2);
    background-color:olive;
}

#contentsMenu ul{
    max-width: 500px;
    padding: 1px;
    height: auto;
    width: auto;
    text-align: center;
}
#contentsMenu li{
    min-width: 200px;
    max-width: 100%;
    left: 0;
    padding: 5px;
    width: 100%;
    height: auto;
    transform: translate(0,0);
    text-align: center;
    list-style: none;
}

#contentsMenu img{
    width: 70%;
    height: auto;
    transform: scale(1,1);
    transition-duration: 0.3s;
    outline: white solid 3px;
    cursor: pointer;
}
#contentsMenu img:hover{
    transform: scale(1.1,1.1);
    height: auto;
    transition-duration: 0.3s;
}
.example{
    text-align: center;
    width: auto;
}


/*      contentsExplanation     */
#contentsExplanation{
    min-width: 30%;
    max-width: 65%;
    height: 60%;
    width: 40%;
    background-color: white;  
    border-radius: 20px 20px 0 0;

    padding: 10px;
    margin: 20px;
}
.content_wrap{
    position:relative;
    padding-top: 60%;
    text-align: center;
    overflow: hidden;
}
.flex-item{
    flex-basis: 100%;
}
#contentsExplanation img{
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%,-50%);
    width: 70%;
    height: 70%;
    object-fit: cover;

}
.contentsText{
    padding-top: 0;
    padding: 10px;
    font-size: 20px;
    overflow-y: scroll;

}

.contentsText::-webkit-scrollbar{
    width: 10px;
    height: 0;
}

.contentsText::-webkit-scrollbar-track{
    border-radius: 20px;
    background-color: darkgray;
}

.contentsText::-webkit-scrollbar-thumb{

    border-radius: 20px;
    box-shadow: inset 3px -3px 5px rgba(0,0,0,0.2);
    background-color:olive;
}


/*  */
@media(min-width: 400px){
    #gallery{
        display: flex;
    }
    #contentsMenu{
        flex-grow: 1;
    }
    #contentsExplanation{
        flex-grow: 1;
     
    }

}


